h1{
    text-align: center;
}

.search{
    text-align: center;
}

.search input{
    width: 30ch;
    height: 40px;
    font-size: 18px;
    font-family: Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(0,0,0,0.3);
    border: none;
    text-align: center;
    outline: none;
    margin: 2ch;
}

input:focus{
    border-bottom: 2px solid white;
}

.user-not-found{
    text-align: center;
    color: red;
}

.search button{
    background-color: rgba(255, 0, 255, 0.5);
    color: white;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-right: 2ch;
    padding-left: 2ch;
    border:none;
    border-radius: 1ch;
    transition: all .2s ease-in-out;
}

.search button:hover{
    background-color: rgba(255, 0, 255, 0.712);
}