    body{
        background-attachment: fixed;
        background-image: linear-gradient(rgb(0, 20, 32),rgb(36, 0, 166));
        margin-top: 20px;
        color: white;
        /*Hide scrollbar*/
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    body::-webkit-scrollbar{ /*Chrome, Safari and opera*/
        display: none;
    }
*{
    font-family: Geneva, Verdana, sans-serif;
}

    h1{
        font-size: 24px;
    }
    
    p{
        font-size: 18px;
    }
